body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    perspective: 500px;
    background-color: #0f0f0f;
  }
  
  .cube {
    width: 200px;
    height: 200px;
    animation: rotate 10s infinite alternate;
    transform-style: preserve-3d;
    position: relative;
    background: linear-gradient(180deg, black, #39ff14);
    background-attachment: fixed;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    position: absolute;
    background: inherit;
}
 


  .face--front {
    transform: translateZ(100px);
  }
  
  .face--right {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .face--back {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .face--left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .face--top {
    transform: rotateX(90deg) translateZ(100px);
    background: black;
  }
  
  .face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
    top: 50px;
    background: #39ff14; 
    box-shadow: 0 0 30px 20px #39ff14; 
}
  


  @keyframes rotate {
    from {
        transform: rotateX(-25deg) rotateY(-10deg);
    }

    50% {
        transform: rotateX(-25deg) rotateY(320deg);
    }

    to {
        transform: rotateX(-25deg) rotateY(-20deg);
    }
}
